Here we undergo A/B test for "shoefly.com" fictional site to help analyze how well their ads performed across various websites by the amount of customers drawn.

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.listdir()

['basics.ipynb',
 '.cities.csv.swp',
 'petal_power.ipynb',
 'orders.csv',
 'shoefly_uservisits.ipynb',
 'first.csv',
 'shoefly.ipynb',
 'Untitled.ipynb',
 'user_visits.csv',
 'shoefly.csv',
 'petal_power.csv',
 '.cities.csv.swo',
 '.ipynb_checkpoints',
 'cities_list.csv',
 'AB_test.csv']

Here we open up the csv in the form of dataframe below,

In [3]:
df=pd.read_csv('AB_test.csv')
df.head()

,user_id,utm_source,day,ad_click_timestamp,experimental_group
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B

The manager now wants to know which ad platform has the most views for which we group by utm_sources and count.

In [4]:
views_df=df.groupby('utm_source').user_id.count().reset_index()
views_df.head()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

Now we create a seperate column in the intital dataframe that highlights whether a person actually clicked on the ad or not.

In [11]:
df['is_click']=~df.ad_click_timestamp.isnull()
df.head()

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A,True
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B,False
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A,False
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B,False
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B,False

Suppose we wanna know the number of people who clicked ads from various sources.

In [19]:
all_clicks=df[df.is_click==True]
#all_clicks.head()
clicks_by_source=df.groupby(['utm_source','is_click']).user_id.count().reset_index()
clicks_by_source.head()

  utm_source  is_click  user_id
0      email     False      175
1      email      True       80
2   facebook     False      324
3   facebook      True      180
4     google     False      441

Suppose we make a pivot such that columns are is_click with the indexes as utm_source and values user_id.

In [20]:
clicks_pivot=clicks_by_source.pivot(columns="is_click",index="utm_source",values="user_id").reset_index()
clicks_pivot

is_click utm_source  False  True
0             email    175    80
1          facebook    324   180
2            google    441   239
3           twitter    149    66

In [26]:
clicks_pivot['percent_clicked']=(clicks_pivot[True])/(clicks_pivot[False]+clicks_pivot[True])
clicks_pivot

is_click utm_source  False  True  percent_clicked
0             email    175    80         0.313725
1          facebook    324   180         0.357143
2            google    441   239         0.351471
3           twitter    149    66         0.306977

Now we compute whether same number of people were displayed the same ads A/B as is indicated by the experimental group category.

In [31]:
ads_A_group=df[df.experimental_group=='A']
ads_B_group=df[df.experimental_group=='B']
ads_A_group.head()
print("People shown ad A:",ads_A_group.user_id.count())
print("People shown ad B:",ads_B_group.user_id.count())

People shown ad A: 827
People shown ad B: 827

Suppose we intend to check amount of people from experimental groups who clicked ads.

In [40]:
grA=df.groupby(['experimental_group','is_click']).user_id.count().reset_index()
#grA.head()
#print("% of people who clicked ad A:",(grA[True])/(grA[False]+grA[True]))
grA_pivot=grA.pivot(columns='is_click',index='experimental_group',values='user_id').reset_index()
grA_pivot['% clicked']=(grA_pivot[True])/(grA_pivot[True]+grA_pivot[False])
grA_pivot

is_click experimental_group  False  True  % clicked
0                         A    517   310   0.374849
1                         B    572   255   0.308343

The manager thinks that the changed in percentage might have happened over the course of day.To check see whether this is actually the case we create 2 dataframes-one for A and B respectively.

In [48]:
a_clicks=df[df.experimental_group=='A'].reset_index(drop=True)
b_clicks=df[df.experimental_group=='B'].reset_index(drop=True)
a_clicks.head()
#b_clicks

,user_id,utm_source,day,ad_click_timestamp,experimental_group,is_click
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A,True
1,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A,False
2,013b0072-7b72-40e7-b698-98b4d0c9967f,facebook,1 - Monday,NaN,A,False
3,0153d85b-7660-4c39-92eb-1e1acd023280,google,4 - Thursday,NaN,A,False
4,01555297-d6e6-49ae-aeba-1b196fdbb09f,google,3 - Wednesday,NaN,A,False

In [58]:
a_clicks_day=a_clicks.groupby('day').user_id.count().reset_index()
b_clicks_day=b_clicks.groupby('day').user_id.count().reset_index()
a_clicks_day['% clicks by day']=a_clicks_day.user_id/a_clicks_day.user_id.sum()
b_clicks_day['% clicks by day']=b_clicks_day.user_id/b_clicks_day.user_id.sum()
print(a_clicks_day)
print(b_clicks_day)

             day  user_id  % clicks by day
0     1 - Monday      113         0.136638
1    2 - Tuesday      119         0.143894
2  3 - Wednesday      124         0.149940
3   4 - Thursday      116         0.140266
4     5 - Friday      128         0.154776
5   6 - Saturday      118         0.142684
6     7 - Sunday      109         0.131802
             day  user_id  % clicks by day
0     1 - Monday      113         0.136638
1    2 - Tuesday      119         0.143894
2  3 - Wednesday      124         0.149940
3   4 - Thursday      116         0.140266
4     5 - Friday      128         0.154776
5   6 - Saturday      118         0.142684
6     7 - Sunday      109         0.131802

as can be seen above for both the ads A & B % of people who clicked are exactly same.