## Here we inspect the new batch of orders that the fictional store "SHOEFLY" recieved recently and perform various data analysis task therein.

In [1]:
import numpy as np
import pandas as pd
import os

In [4]:
os.listdir()
df=pd.read_csv('orders.csv')
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color,price
0,41874,Kyle,Peck,KylePeck71@gmail.com,ballet flats,faux-leather,black,385.0
1,31349,Elizabeth,Velazquez,EVelazquez1971@gmail.com,boots,fabric,brown,388.0
2,43416,Keith,Saunders,KS4047@gmail.com,sandals,leather,navy,346.0
3,56054,Ryan,Sweeney,RyanSweeney14@outlook.com,sandals,fabric,brown,344.0
4,77402,Donna,Blankenship,DB3807@gmail.com,stilettos,fabric,brown,289.0
5,97148,Albert,Dillon,Albert.Dillon@gmail.com,wedges,fabric,brown,266.0
6,19998,Judith,Hewitt,JudithHewitt98@gmail.com,stilettos,leather,black,395.0
7,83290,Kayla,Hardin,Kayla.Hardin@gmail.com,stilettos,leather,white,241.0
8,77867,Steven,Blankenship,Steven.Blankenship@gmail.com,wedges,leather,navy,266.0
9,54885,Carol,Mclaughlin,CM3415@gmail.com,ballet flats,faux-leather,brown,440.0

To indicate the costliest shoe purchased we do the following.

In [5]:
most_expensive=df.price.max()
most_expensive

493.0

suppose the fashion dept needs intel on number of different colored shoes sold.

In [9]:
num_colors=df.shoe_color.nunique()
num_colors

5

Suppose now the finance dept needs info about all pricey shoes in each category.

In [14]:
pricey_shoes=df.groupby('shoe_type').price.max().reset_index()
pricey_shoes=pricey_shoes.rename(columns={'price':'maximum categorical price'})
pricey_shoes.head()

      shoe_type  maximum categorical price
0  ballet flats                      481.0
1         boots                      478.0
2         clogs                      493.0
3       sandals                      456.0
4     stilettos                      487.0

Suppose we need to find whether there's availability of enough cheap shoes per category.

In [16]:
cheap_shoes=df.groupby('shoe_color').price.apply(lambda x:np.percentile(x,25)).reset_index()
cheap_shoes.head()

  shoe_color  price
0      black    NaN
1      brown  193.5
2       navy  205.5
3        red  250.0
4      white  196.0

Suppose we wanna compute across diffreent shoe types and colors the quantity purchased.

In [18]:
shoe_counts=df.groupby(['shoe_type','shoe_color']).id.count().reset_index()
shoe_counts.head()

      shoe_type shoe_color  id
0  ballet flats      black   2
1  ballet flats      brown   5
2  ballet flats        red   3
3  ballet flats      white   5
4         boots      black   3

we create a pivot table to better visualize the above table that helps us compare various shoe color/type sold.Hence we use a pivot table.

In [19]:
shoe_counts_pivot=shoe_counts.pivot(columns='shoe_color',index='shoe_type',values='id').reset_index()
shoe_counts_pivot

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats    2.0    5.0   NaN  3.0    5.0
1                  boots    3.0    5.0   6.0  2.0    3.0
2                  clogs    4.0    6.0   1.0  4.0    1.0
3                sandals    1.0    4.0   5.0  3.0    4.0
4              stilettos    5.0    3.0   2.0  2.0    2.0
5                 wedges    3.0    4.0   4.0  5.0    2.0